.husky
.vscode
amplify/
coverage/
build/
dist/
node_modules/
public/
src/base-data/
src/graphql/
src/models/
src/ui-components/
src/aws-exports.js
src/setupTests.js
.eslintrc.js
.graphqlconfig.yml
.prettierrc.json
jest.config.js
package-lock.json
package.json
postcss.config.js
README.md
tailwind.config.js